# ==================== APPLICATION ====================
NODE_ENV=production
PORT=3000
APP_URL=https://auth.safety.vn
FRONTEND_URL=https://your-app.com
DOMAIN=auth.safety.vn

# ==================== DATABASE ====================
DB_HOST=postgres
DB_PORT=5432
POSTGRES_DB=safety_db
POSTGRES_USER=safety_user
POSTGRES_PASSWORD=change-me
DB_NAME=safety_db
DB_USER=safety_user
DB_PASSWORD=change-me

# ==================== REDIS ====================
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=change-me

# ==================== JWT ====================
JWT_SECRET=change-me
JWT_EXPIRES_IN=1d

# ==================== OTP ====================
OTP_TTL_SECONDS=60
OTP_SECRET=${JWT_SECRET}

# ==================== EMAIL (Gửi OTP) ====================
MAIL_HOST=smtp-relay.brevo.com
MAIL_PORT=587
MAIL_SECURE=false
MAIL_USER=your-brevo-smtp-login
MAIL_PASSWORD=your-brevo-smtp-key
MAIL_FROM_NAME=Safety
MAIL_FROM_EMAIL=your-verified-sender@example.com

# ==================== WAZUH ====================
WAZUH_UI_USER=admin
WAZUH_UI_PASSWORD=change-me
WAZUH_API_URL=https://host.docker.internal:55000
WAZUH_API_USERNAME=wazuh-wui
WAZUH_API_PASSWORD=change-me
WAZUH_API_TLS_REJECT_UNAUTHORIZED=false
